<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/PUBLIC/css/styles.css" />
    <title>Document</title>
  </head>

  <body>

    <section class="title">

      <h1>Proyectos Carrefour</h1>

    </section>

    <section>

      <article>

        <ul class="proyects">
          <!-- <% const sites = url("/sites.js");
                function ("sites") {

                    for( let i = 0; i < sites.lenght; i++) {
                        
                            return (li + innerHtml)

                    }


                    }%> -->

          <li class="unique">
            <a href="/views/alfresco.html" style="text-decoration: none">Alfresco</a>
          </li>

          <li class="unique">
            <a href="/views/ars.html" style="text-decoration: none">ARS 4.1</a>
          </li>

          <li class="unique">
            <a href="/views/digital.html" style="text-decoration: none">Digital Transaction</a>
          </li>

          <li class="unique">
            <a href="/views/gestor.html" style="text-decoration: none">Gestor Documental</a>
          </li>

          <li class="unique">
            <a href="/views/turnero.html" style="text-decoration: none">Turnero</a>
          </li>

          <li class="unique">
            <a href="/views/mobile.html" style="text-decoration: none">Aplicación Mobile</a>
          </li>

          <li class="unique">
            <a href="/views/bringo.html" style="text-decoration: none">Bringo</a>
          </li>

          <li class="unique">
            <a href="/views/factura.html" style="text-decoration: none">Factura Electrónica</a>
          </li>

          <li class="unique">
            <a href="/views/salesforce.html" style="text-decoration: none">Salesforce</a>
          </li>

        </ul>

      </article>

    </section>

    <section class="wtsp">

        <article>

          <img src="/public/img/WhatsApp.svg.png" width="50px" height="50px" alt="Wtsp Logo">

        </article>
        
        <!-- <br> -->

        <article>

          <a style="text-decoration: none;" href="https://api.whatsapp.com/send?phone=1140474809&text=Hola,%20podrías%20ayudarme?">Contactános!</a>

        </article>

    </section>

    <section>

      <article class="prensentation">

        <a href="/views/presentacion.html">Presentación</a>

      </article>

    </section>

  </body>

</html>
