* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body {

    background-image: url(/public/img/carre2.png);
/* background-repeat: no-repeat; */
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
    
}

.general {

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: #2A4359; /* fallback color if gradients are not supported  */
    background: -webkit-linear-gradient(111deg,#2A4359 17%, rgba(120,192,255,0.8), rgba(57,22,255,0.8) 62%, #58DBFF 86%);
    background: -moz-linear-gradient(111deg,#2A4359 17%, rgba(120,192,255,0.8), rgba(57,22,255,0.8) 62%, #58DBFF 86%);
    background: -o-linear-gradient(111deg,#2A4359 17%, rgba(120,192,255,0.8), rgba(57,22,255,0.8) 62%, #58DBFF 86%);
    background: linear-gradient(111deg,#2A4359 17%, rgba(120,192,255,0.8), rgba(57,22,255,0.8) 62%, #58DBFF 86%);
    /* animation: apear 1s ease 0s 1 normal forwards; */
}

.imgs {

    border: greenyellow 2px solid;
    width: 200px;
    height: 150px;
    margin-top: 100px;
    margin-right: 80px;
    margin-bottom: 150px;
    font-size: 19px;
    font-family:monospace;
    font-style: oblique;

}
article :hover {

    /* scale: 225%; */
    scale: 125%;
    font-variant-position: super;
    box-shadow: 0px 0px 9px 5px rgba(184, 164, 164, 0.83);
    -webkit-box-shadow: 0px 0px 9px 5px rgba(184, 164, 164, 0.83);
    -moz-box-shadow: 0px 0px 9px 5px rgba(184, 164, 164, 0.83);
    
    

}

article {

    animation: apear 2s ease 0s 1 normal forwards;

}


div :hover{

    background: #2A4359; /* fallback color if gradients are not supported  */
    background: -webkit-linear-gradient(111deg,#2A4359 17%, rgba(120,192,255,0.8), rgba(57,22,255,0.8) 62%, #58DBFF 86%);
    background: -moz-linear-gradient(111deg,#2A4359 17%, rgba(120,192,255,0.8), rgba(57,22,255,0.8) 62%, #58DBFF 86%);
    background: -o-linear-gradient(111deg,#2A4359 17%, rgba(120,192,255,0.8), rgba(57,22,255,0.8) 62%, #58DBFF 86%);
    background: linear-gradient(111deg,#2A4359 17%, rgba(120,192,255,0.8), rgba(57,22,255,0.8) 62%, #58DBFF 86%);

}

.home{

    position: absolute;
    top: 72px;
    left: 12px;

}

.home :hover{

    transform: rotate(300deg);
    transition-delay: 2ms;

}

@keyframes apear {
	0% {
		opacity: 0;
		transform: rotateX(-100deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}

